@import "tailwindcss";

:root {
  --font-public-sans: "Public Sans", sans-serif;
}

@theme {
  /* Cores customizadas */
  --color-primary: #f27f0d;
  --color-primary-dark: #d66c00;
  --color-background-light: #fcfaf8;
  --color-background-dark: #221910;
  --color-text-main: #1c140d;
  --color-text-secondary: #9c7349;
  
  /* Fontes */
  --font-display: var(--font-public-sans);
  --font-body: var(--font-public-sans);
  
  /* Border radius */
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

body {
  font-family: var(--font-public-sans);
}
